<section class="main" *ngIf="afAuth.user | async as user; else showLogin">
    <!-- <mat-toolbar>  
        <div class="name-block">
            <h1>Hello {{ user.displayName }}!</h1>
            <button class="dark-button" (click)="logout()">Logout</button>
        </div>
    </mat-toolbar>
    <mat-toolbar color="primary">
        <button routerLink="/film" class="light-button">Film</button>
        <button routerLink="/map" class="light-button" >Map</button>
    </mat-toolbar> -->
    <header>
        <div id="header-left-side">
            <h1>Hello {{ user.displayName }}!</h1>
            <nav>
                <button routerLink="/film" class="light-button">Movie</button>
                <button routerLink="/map" class="light-button" >Map</button>
            </nav>
        </div>
        <button class="light-button" (click)="logout()">Logout</button>
    </header>
    <router-outlet></router-outlet>
</section>
<ng-template #showLogin>
    <section class="login-wrap" [ngClass]="{visible: !visValue}">
        <div class="container login-container">
            <h2 class="login-header">Welcome to Angular SPA,</h2>
            <h3 class="login-header"> that helps you to find movie or location!</h3>
            <h4 class="login-header">Pleas login or sign up</h4>
            <div class="login-submit-block">
                <div class="login-input-block">
                    <input type="email" #login placeholder="Email" class="login-input" required >
                    <input type="password" #password placeholder="Password" class="login-input" required >
                </div>
                <div class="login-button-block">
                    <button (click)="loginUser(login.value, password.value)">Login</button>
                    <button id="google-login-button" (click)="loginG()">Login with <div id="google-icon"></div></button>
                </div>
            </div>
            <button (click)="toogleVis()">Sign up!</button>
        </div>
    </section>
    <app-sign-up [ngClass]="{visible: visValue, 'sign-up-block': true}" (setVisValue)="setVisValue()"></app-sign-up>
</ng-template>