<section id="movie-search-result">
  <div *ngFor="let movie of movies" class="movie-mini-description" >
    <!-- <button class="favoties-button" (click)="toFavorit(movie.Title)">To favorites</button> -->
    <button class="favoties-button" (click)="addOrRemoveFavorite(movie.Title)">{{setFavValue(movie.Title) ? 'Remove from favorite' : 'To favorite'}}</button>
    <a [routerLink]="'full/' + movie.Title" (click)="setMovie(movie)">
      <img [src]="movie.Poster == 'N/A' ? 'https://cdn.browshot.com/static/images/not-found.png' : movie.Poster" alt="Poster">
      <h3>{{movie.Title}}</h3>
      <p>Year: {{movie.Year}}</p>
      <p>Genre: {{movie.Genre}}</p>
    </a>
  </div>  
</section>




