<section id="movie-search-result">
  <div *ngFor="let movie of movies" class="movie-mini-description" >
    <div [ngClass]="{'favoties-button': true, 'fav': setFavValue(movie.Title), 'not-fav': !setFavValue(movie.Title)}" (click)="addOrRemoveFavorite(movie.Title)"></div>
    <a [routerLink]="'full/' + movie.Title" (click)="setMovie(movie)">
      <img [src]="movie.Poster == 'N/A' ? 'https://cdn.browshot.com/static/images/not-found.png' : movie.Poster" alt="Poster">
      <h3>{{movie.Title}}</h3>
      <p><b>Year:</b> {{movie.Year}}</p>
      <p><b>Genre:</b> {{movie.Genre}}</p>
    </a>
  </div>  
</section>




