@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

}

#header-left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
        color: white;
        // background-color: rgba(255,255,255,.1);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 54px;
        // padding: 0 5px;
        
    }
    
    nav {
        margin-left: 10px;
    }
}

button {
    // width: 100px;
    transition: all .8s ease-out; 
    min-height: 30px;
    background: linear-gradient(45deg, #002634 50%, white 50%);
    background-size: 300% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    // border-radius: 10px;
    margin: 0 5px;    
    outline: none;
    padding: 10px;
    border: 3px solid transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 20px;
    font-weight: 800;
    position: relative; 
    cursor: pointer;       
    &:hover {
        background-position: right center;
        border: 3px solid white;
    }
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(185, 176, 238);
}

img {
    display: block;
    margin: 0 auto;
}

.favoties-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-size: cover;
    background-color: rgba(255,255,255,0.4);
    border-radius: 0 0 10px 0;
}

.login-input {
    transition: all .6s ease-out; 
    border-radius: 10px;
    border: 2px solid darkslateblue;
    width: 210px;
    height: 35px;
    outline: none;
    padding: 5px;
    margin: 10px 0;
    &:hover {
        border: 2px solid white;
    }
}

.login-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./app/img/login_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        z-index: 1;

    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    background-color: rgba(255,255,255,0.7);
    padding: 20px 20px;
    position: relative;
    z-index: 2;
}

.login-header {
    text-align: center;
    color: #002634;
    text-shadow: 0 0 1px blueviolet;
    margin-bottom: 10px;
}

#google-login-button {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover #google-icon {
        filter: blur(1px);
        transition: all .7s;
    }
}

.login-submit-block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.login-input-block {
    width: 90%;
}

.login-input-block, .login-button-block {
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.login-button-block {
    padding: 0 15px;
    justify-content: center;

}


#google-icon {

    width: 100px;
    height: 35px;
    background-image: url('./app/img/google_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.sign-up-block {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    transition: all .5s;
    opacity: 1;

}

.sign-up-block-wrap {
    width: 100vw;
}

.sign-up-container {
    width: 750px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
    padding: 20px 20px;
    position: relative;
    z-index: 2;
    .login-button-block {
        width: 300px;
    }
}

.sign-up-input-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-button {
    background: linear-gradient(45deg, blue 50%, darkslateblue 50%);
    background-size: 300% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    &:hover {
        background-position: right center;
        // border: 3px solid darkslateblue;
        border-style: solid;
        border-color: darkslateblue;
        border-width: 3px 3px 3px 3px;
    } 
}


.light-button {
    background: linear-gradient(45deg, white 50%, rgb(107, 100, 206) 50%);
    position: relative;
    background-size: 300% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
        transition: all .3s;
   }
    &:hover {
        background-position: right center;
        border: 3px solid rgb(107, 100, 206);
        &:before {
            background-color: rgba(0,0,0,0);
           }
    }
    
}




.movie-search-field {
    width: 40vw !important;
    font-size: 30px;
    margin-left: 20px;
    color: #002634;
   
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0,0,0,.9);
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: #27075e;
}


.name-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mat-toolbar {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

mat-toolbar button {
    background-color: cornflowerblue;
}

.movie-wrap {
    padding: 70px 20px 20px 20px;
    width: 100%;
    min-height: 100vh;
    transition: all .6s ease-in;
    display: flex;
    flex-direction: column;
    background-image: url('./app/img/movie-section-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.3);
        z-index: -1;
    }
    .container {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        // background-color: rgba(255,255,255,0.6);
        padding: 0 10px;
        // box-shadow: 0px 10px 20px rgba(255,255,255,0.4);
    }
}

.light {
    color: #002634;
}

.movie-header {
    margin: 10px 0px;
}

.recomended-header {
    margin: 10px 10px;
}    

#movie-search-result {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    img {
        width: 20vw;
    }
   
}

.white-label {
    color: white !important;
}

.fav {
    background-image: url('app/img/star-gold.png');
}
.not-fav {
    background-image: url('app/img/star.png');
}

.movie-mini-description {
    position: relative;
    z-index: 0;
    width: 21vw;
    margin: 1vw;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    a {
        color: rgb(121, 41, 161);
        // text-shadow: 0 0 1px white;
    }
    h3 {
        margin-top: 5px;
    }
    &:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,0.6);
        background-color: rgba(255,255,255,0.5);        
        transition: all .3s;
        a {
            color: darkblue;
        }
    }
}

.movie-full-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 20px 20px 20px;
    // margin: 10px;
    background-image: url('./app/img/movie-section-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.5);
        z-index: -1;
    }
    .movie-full-info-img {
        margin: 10px;
    }
    
}

.movie-full-info-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.favorite-button {
    margin-left: 30px;
}

.info-block {
    margin: 20px 0 0 10px;
    width: 40vw;
    h2 {
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        line-height: 30px;
    }
}    

#movie-favorite {
    
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    img {
        width: 20vw;
    }
}

#movie-favorite-section {
    min-height: 100vh;
    padding: 70px 20px 20px 20px;
    background-image: url('./app/img/movie-section-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.5);
        z-index: -1;
    }
}

.visible {
    opacity: 0 !important;
    transition: all .5s;
    // display: none;
    visibility: hidden !important;
}

.recomedede-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.favorite-item {
    position: relative;
    width: 21vw;
    margin: 10px;
    border-radius: 5px;
    transition: all .3s;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    a {
        color: rgb(45, 15, 126);
    }
    img {
        width: 20vw;
    }
    &:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,0.6);
        background-color: rgba(0,0,0,0.2);
        transition: all .3s;
    }

}

agm-map {
    height: 420px;
  }

.map-section {
    padding: 70px 20px 20px 20px; 
}

.palce-description {
    font-size: 30px;
    margin-left: 10px;
}
.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#location-search-block {
    align-items: flex-end;
}

.index-search-block {
    margin-left: 30px;
}

.index-search-block {

    .movie-search-field {
        width: 20vw !important;
        
        
       
    }
}
   

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
