<section id="recomended-block">
  <h3 class="recomended-header">
    Recommended
  </h3>
  <div class="recomedede-list">
    <div *ngFor="let movie of recomendedList"  class="favorite-item">
      <div [ngClass]="{'favoties-button': true, 'fav': setFavValue(movie.Title), 'not-fav': !setFavValue(movie.Title)}" (click)="addOrRemoveFavorite(movie.Title)"></div>
      <a [routerLink]="'/film/full/' + movie.Title" (click)="setMovie(movie)">
        <img [src]="movie.Poster == 'N/A' ? 'https://cdn.browshot.com/static/images/not-found.png' : movie.Poster" alt="Poster">
        <h3>{{movie.Title}}</h3>
        <p>Year: {{movie.Year}}</p>
      </a>
    </div>
  </div>
</section>


